<h4>YOUR <em>MILANO&reg;</em> COOKIE</h4>
<div class="cookieRegistry">
  <div class="cookieEntry">
    <div class="details">
      <div class="imageResultContainer">
				<img src="{{imageBase}}/{{cookieImage}}" class="cookieType">
				{{#cookieFillings}}
					<img src="{{imageBase}}/{{image}}" class="{{className}}">
				{{/cookieFillings}}
				{{#cookieToppings}}
					<img src="{{imageBase}}/{{image}}" class="{{className}}">
				{{/cookieToppings}}
				<img src="{{imageBase}}/{{cookieImageTop}}" class="cookieTop1 hide js_cookieTop">
      </div>
      <div class="colContainer clearfix">
        <div class="left">
          <p>
            <strong>Milano<sup>&copy;</sup> Cookie Type</strong><br>
            <span>{{{cookieTypeName}}}</span>
            <br><br>
            <strong>Cookie Flavor</strong><br>
            <span>{{{cookieFlavor}}}</span>
            <br><br>
          <p>
        </div>
        <div class="right">
          <p>
            <strong>Filling or Layer:</strong><br>
            {{#cookieFillings}}
            	<span>{{{name}}}</span><br>
            {{/cookieFillings}}
          </p>
          <p class="js_cookieToppings">
            <br>
            <strong>Toppings:</strong><br>
            {{#cookieToppings}}
            	<span>{{{name}}}</span><br>
            {{/cookieToppings}}
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="actionButtons">
    <a class="btnBack wizardReset js_previousButton" href="#">BACK</a>
    <a href="#" class="btnDone toggle-step js_btnDone">
    	<img src="img/btnDone.png">
    </a>
  </div>
</div>
