<h4>CHOOSE YOUR FILLINGS OR LAYERS <strong>(UP TO 2)</strong></h4>
<div class="explanation">
  <span class="js_chocolateError hide">Must choose a chocolate first</span>
</div>
<div class="cookieSelector wizardOptions fillings ui-tabs">
  <ul class="js_fillingTabs ui-tabs-nav">
      <li data-panel="chocolatePanel" class="ui-state-active js_tab">
        <a href="#">CHOCOLATE</a>
      </li>
      <li data-panel="fruitPanel" class="js_tab">
        <a href="#">FRUIT/HERB <br/>FLAVORS</a>
      </li>
      <li data-panel="otherPanel" class="js_tab">
        <a href="#">OTHER <br/>FLAVORS</a>
      </li>
  </ul>
  <div id="chocolatePanel" class="ui-tabs-panel"></div>
  <div id="fruitPanel" class="ui-tabs-panel hide"></div>
  <div id="otherPanel" class="ui-tabs-panel hide"></div>
</div>
<div class="actionButtons">
  <a class="btnBack wizardBackward js_previousButton" href="#">BACK</a>
  <a href="#" class="btnNext2 wizardForward disabled js_nextButton">
    <img src="img/btnNext.png">
  </a>
</div>
