<h4>CHOOSE YOUR TOPPINGS <strong>(UP TO 3)</strong></h4>
<div class="explanation"></div>
<div class="cookieSelector wizardOptions toppings ui-tabs">
  <ul class="js_toppingsTabs ui-tabs-nav">
      <li data-panel="candyPanel" class="ui-state-active js_tab">
      	<a href="#">CANDY &amp; <br/>CHOCOLATE</a>
      </li>
      <li data-panel="fruitPanel" class="js_tab">
      	<a href="#">FRUIT</a>
      </li>
      <li data-panel="nutsPanel" class="js_tab">
      	<a href="#">NUTS &amp; <br/>SEEDS</a>
      </li>
      <li data-panel="spicesPanel" class="js_tab">
      	<a href="#">SPICES, <br/>ETC.</a>
      </li>
  </ul>
  <div id="candyPanel" class="ui-tabs-panel"></div>
  <div id="fruitPanel" class="ui-tabs-panel hide"></div>
  <div id="nutsPanel" class="ui-tabs-panel hide"></div>
  <div id="spicesPanel" class="ui-tabs-panel hide"></div>
</div>
<div class="actionButtons">
  <a class="btnBack wizardBackward js_previousButton" href="#">BACK</a>
  <a href="#" class="btnNext2 wizardForward disabled js_nextButton">
    <img src="img/btnNext.png">
  </a>
</div>
