<h4>CHOOSE YOUR <em>MILANO&reg;</em> COOKIE TYPE</h4>
<div class="cookieSelector">
  <ul class="js_cookieTypesView"></ul>
</div>
<div class="actionButtons">
  <a href="#" class="btnNext wizardForward disabled js_nextButton">
  	<img src="img/btnNext.png">
  </a>
  <a class="suggestLink" href="#">SUGGEST YOUR OWN INGREDIENTS</a>
</div>
