<h4>CHOOSE YOUR COOKIE FLAVOR</h4>
<div class="cookieSelector wizardOptions flavors">
  <ul class="ingredientList clearfix js_cookieFlavorsView"></ul>
</div>
<div class="actionButtons">
  <a class="btnBack wizardBackward js_previousButton" href="#">BACK</a>
  <a href="#" class="btnNext2 wizardForward disabled js_nextButton">
  	<img src="img/btnNext.png">
  </a>
</div>
